<!DOCTYPE html>
<html>
<head>
  <title>StudentCrm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="sign-in">
  <%= flash_messages %>
  <div class="sign-in-form">
    <h1 class="text-center">Teachers area</h1><hr/>
    <%= yield %>
  </div>
</body>
</html>

